.container-fluid
  .row.top-section
    %nav.navbar.navbar-default.navbar-static-top
      .container
        %a.announce{href: "https://news.developer.nvidia.com/ai-helps-create-rock-song-honoring-queen/", target: '_blank'} Checkout the Queen lyrics we generated for the Nvidia Keynote at NeurIPS 2018!
        .navbar-header
          %a.navbar-brand
            =image_tag 'icon.svg', class: 'logo'
            encore.ai
        #navbar
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: "https://devpost.com/software/encore-ai", target: '_blank'} About
            %li
              %a{:href => "https://github.com/dyelax/encore.ai", target: '_blank'} Github

    .col-xs-12
      %h1.title Music lives forever.

      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          %h3.subtitle Select an Artist
          .row
            =render partial: 'artist', locals: {artist: 'Tupac', description: 'Revive the legend.', uid: 'tupac'}
            =render partial: 'artist', locals: {artist: 'The Beatles', description: '"You say goodbye, and I say hello"...', uid: 'the_beatles'}
            =render partial: 'artist', locals: {artist: 'Kanye West', description: 'Peek into the mind of a Creative Genius.', uid: 'kanye_west'}
            =render partial: 'artist', locals: {artist: 'Taylor Swift', description: 'Check TSwift\'s next hot track.', uid: 'taylor_swift'}
            =render partial: 'artist', locals: {artist: 'Drake', description: 'Can\'t wait for more from the “last name greatest, first name ever?', uid: 'drake'}
            =render partial: 'artist', locals: {artist: 'Other Artists', description: 'Coming Soon!', uid: 'other_artist'}
  .row
    .col-xs-12
      .loading-section
        #particles-js
          .loader-badge
            .loader
            =image_tag 'icon.svg', class: 'icon'
      .row
        .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
          .lyrics-section
            .artist_img
            .artist
            %br
            .onoffswitch
              %input.onoffswitch-checkbox#myonoffswitch{type:'checkbox', name: 'onoffswitch', checked: true}
              %label.onoffswitch-label{for: 'myonoffswitch'}
                %span.onoffswitch-inner
                %span.onoffswitch-switch
            .lyrics
            %button.encore-button Encore!
