.container-fluid
  .row.top-section
    .logo
      =image_tag 'icon.svg'
      encore.ai
    .col-xs-12
      %h1.title Music lives forever.

      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          %h3.subtitle Select an Artist
          .row
            =render partial: 'artist', locals: {artist: 'Tupac', description: '', uid: 'tupac'}
            =render partial: 'artist', locals: {artist: 'The Beatles', description: '', uid: 'the_beatles'}
            =render partial: 'artist', locals: {artist: 'Kayne West', description: '', uid: 'kanye_west'}
            =render partial: 'artist', locals: {artist: 'Taylor Swift', description: '', uid: 'taylor_swift'}
            =render partial: 'artist', locals: {artist: 'Drake', description: '', uid: 'drake'}
            =render partial: 'artist', locals: {artist: 'Other Artists', description: 'More Coming Soon!', uid: 'other_artist'}
  .row
    .col-xs-12
      .loading-section
        #particles-js
          .loader-badge
            .loader
            =image_tag 'icon.svg', class: 'icon'
      .row
        .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
          .lyrics-section
            .artist_img
            .artist
            .lyrics
            %button.encore-button Encore!
