.top-section {
  padding: 50px;
  padding-top: 15px;
  box-shadow: 0px 3px 10px #999;
  color: white;


  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#673ab7+0,8065b2+100 */
  background: #673ab7; /* Old browsers */
  background: -moz-linear-gradient(top,  #673ab7 0%, #8065b2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #673ab7 0%,#8065b2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #673ab7 0%,#8065b2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#673ab7', endColorstr='#8065b2',GradientType=0 ); /* IE6-9 */
}

.loading-section {
  // display: none;
}

.lyrics-section {
  display: none;
}

.loader-badge {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left:-75px;
  margin-top:-75px;
  background-color: #673ab7;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  .icon {
    position: absolute;
    top: 42px;
    left: 36px;
    width: 80px;
  }
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  font-size: 20pt;

  img {
    width: 50px;
    margin-right: 5px;
  }
}

.title {
  margin-top: 40px;
  margin-bottom: -5px;
  font-size: 50pt;
  text-align: center;
}

.subtitle {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 25px;
}

.arrow {
  position: absolute;
  top: 150px;
  background: none;
  border: none;
  outline: none;
}

.arrow-prev {
  left: -100px;
}

.arrow-next {
  right: -100px;
}

.carousel {
  margin-top: 10px;
  overflow-x: hidden;
  box-shadow: inset -10px 0px 10px -5px rgba(0,0,0,0.3), inset 10px 0px 10px -5px rgba(0,0,0,0.2);
}

.artist-tile {
  position: relative;
  margin: 8px auto;
  display: inline-block;
  cursor: pointer;
  text-align: center;

  .overlay {
    position: absolute;
    top: 0px;
    width: 250px;
    height: 100%;
    border-radius: 50%;
    background:rgba(0,0,0,.75);
    text-align:center;
    opacity:0;
    -webkit-transition: opacity .25s
  }

  img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  }

  -webkit-transition: -moz-transform .3s ease-out;
  -moz-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  transform: scale(1);
}

.artist-tile a {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -5px -30px;
}

.artist-tile:hover .overlay {
  opacity: 1;
}

.slick-center {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  transform: scale(1.1);
}

// Remove blue focus border from slick slider
.slick-slide {
  outline: none !important;
}
